.shopping-list-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.shopping-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  animation: fadeInUp 0.8s ease-in-out;
}

.center-text {
  text-align: center;
  margin-bottom: 50px;
  font-size: 45px;
}

.shopping-list-header > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.shopping-list-header h1 {
  margin: 0;
}

.shopping-list-table {
  width: 100%;
  border-collapse: collapse;
}

.shopping-list-table thead {
  background-color: #e57373;
  color: white;
}

.shopping-list-table th,
.shopping-list-table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.shopping-list-table th {
  font-weight: bold;
}

.total-items,
.total-value {
  font-weight: bold;
  font-size: 1.1em;
}

.h1SL {
  padding-bottom: 40px;
}

.shopping-list-stats {
  padding-bottom: 30px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
